$bubble-size: 445px;

.bubbles {
  &__bubble {
    position: relative;
    margin: 5vh 8vw;
    @include flex($dir: column, $jc: center, $ai: center, $gap: 40px);
    text-align: center;

    @include desktop {
      margin: 10vh 11.5vw;
      text-align: left;
      @include flex($dir: row, $jc: space-between, $gap: 50px, $ai: center);
    }

    &::before {
      content: '';
      position: absolute;

      @include tablet {
        top: 0;
        background-color: $light-grey;
        height: $bubble-size;
        width: $bubble-size;
        border-radius: 50%;
        z-index: 1;
      }

      @include desktop {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .bubbles__img {
      border-radius: 50%;
      z-index: 3;
      width: 311px;
      height: 311px;

      @include tablet {
        height: $bubble-size;
        width: $bubble-size;
      }

      @include desktop {
        // margin: 0 5vw;
      }
    }
    .bubbles__arrow {
      position: absolute;
      z-index: 4;

      @include desktop {
        bottom: 0;
      }
    }

    .bubbles__content {
      @include flex($dir: column, $jc: center, $ai: center, $gap: 32px);

      @include tablet {
        gap: 40px;
      }

      @include desktop {
        align-items: flex-start;
        gap: 0;
        width: 31%;
        min-width: 445px;
      }

      h2 {
        @include desktop {
          margin-bottom: 24px;
        }
      }
      p {
        color: $grey;
      }
      button {
        @include desktop {
          margin-top: 40px;
          align-self: flex-start;
        }
      }
    }

    &--right {
      &:before {
        @include tablet {
          right: -410px;
        }
        @include desktop {
          right: -500px;
        }
      }

      @include desktop {
        flex-direction: row-reverse;
      }

      .bubbles__arrow {
        left: 0;
        top: 160px;

        @include tablet {
          left: initial;
          right: -8vw;
          top: 300px;
        }

        @include desktop {
          right: -11.5vw;
        }
      }

      &:not(:first-child) {
        .bubbles__arrow {
          @include desktop {
            right: -550px;
          }
        }
      }
    }

    &--left {
      &:before {
        @include tablet {
          left: -410px;
        }
        @include desktop {
          left: -500px;
        }
      }
      .bubbles__arrow {
        right: 0;
        top: 160px;

        @include tablet {
          right: initial;
          left: -8vw;
          top: 250px;
        }

        @include desktop {
          left: -11.5vw;
          top: 350px;
        }
      }
      &:not(:first-child) {
        .bubbles__arrow {
          @include desktop {
            left: -550px;
          }
        }
      }
    }

    &:not(:first-child) {
      .bubbles__arrow {
        @include desktop {
          top: 0;
        }
      }
    }
  }
}
