.bubble-right {
  @include tablet {
    &:before {
      right: -300px;
      top: 350px;
    }
  }

  @include desktop {
    @include flex(
      $dir: row-reverse,
      $jc: space-between,
      $gap: 50px,
      $ai: center
    );
  }

  img:nth-child(2) {
    left: 6vw;
    top: 205px;

    @include tablet {
      left: initial;
      right: 0;
      top: 300px;
    }

    @include desktop {
      top: 400px;
    }
  }
}
.bubble-left {
  @include tablet {
    &:before {
      left: -300px;
      top: 300px;
    }
  }

  @include desktop {
    @include flex($dir: row, $jc: space-between, $gap: 50px, $ai: center);
  }
  img:nth-child(2) {
    right: 6vw;
    top: 180px;
    transform: rotate(180deg);

    @include tablet {
      right: initial;
      left: 0;
      top: 250px;
    }

    @include desktop {
      top: 350px;
    }
  }
}
.section-bubble {
  position: relative;
  padding: 5vh 6vw;
  @include flex($dir: column, $jc: center, $ai: center, $gap: 40px);
  text-align: center;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;

    @include tablet {
      background-color: $light-grey;
      height: 445px;
      width: 445px;
      border-radius: 50%;
      top: 5vh;
      z-index: 1;
    }

    @include desktop {
      top: 10vh;
    }
  }

  @include desktop {
    padding: 10vh 6vw;
    text-align: left;
  }

  img:first-child {
    border-radius: 50%;
    z-index: 3;

    @include tablet {
      height: 445px;
      width: 445px;
    }

    @include desktop{
      margin: 0 5vw;
    }
  }
  img:nth-child(2) {
    position: absolute;
    z-index: 4;
  }
  div {
    @include flex($dir: column, $jc: center, $ai: center, $gap: 30px);

    @include tablet{
      align-items: flex-start;
    }
    button{
      @include desktop{
        align-self: flex-start;
      }
    }
    h2 {
      font-size: 32px;
      line-height: 32px;
    }
    p {
      color: $grey;
    }
  }
}
