.button {
  @include flex($jc: center, $ai: center);
  border: 3px solid $yellow;
  background-color: $yellow;
  color: $white;
  width: 88px;
  height: 40px;
  font-family: Space Mono;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  transition: 0.4s;

  @include tablet{
    @include font($ff: "Space Mono", $fw: bold, $fs: 14px, $co: $white,);
    width: 144px;
    height: 45px;
  }

  @include desktop{
    @include font($ff: "Space Mono", $fw: bold, $fs: 16px, $co: $white,);
    width: 200px;
    height: 60px;
  }

  &:hover {
    border-color: $yellow;
    background-color: unset;
    color: $yellow;
  }
}
