.button {
  @include flex($jc: center, $ai: center);
  border: 3px solid $yellow;
  background-color: $yellow;
  color: $white;
  width: $btn-w;
  height: 50px;
  font-family: "Space Mono";
  font-weight: bold;
  @extend %normal-font;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    border-color: $yellow;
    background-color: unset;
    color: $yellow;
  }
}
