.figure-icones {
  margin: 120px 6vw;
  text-align: center;
  @include flex($dir: column, $jc: center, $ai: center, $gap: 48px);

  @include tablet {
    position: relative;
    text-align: left;
    margin: 0 6vw;
    padding: 10vh 0;
    gap: 40px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(calc(-50% + calc(var(--figure-icone-size) / 2)));
      width: 15px;
      height: 75%;
      background: $light-grey;
    }
  }

  @include desktop {
    @include flex($dir: row, $jc: flex-start, $ai: flex-start, $gap: 48px);
    text-align: left;
    padding: 0 6vw 160px;
    margin: 120px 0;
    position: relative;
    &::before {
      transform: translateY(calc(-50% + calc(var(--figure-icone-size) / 2)));
      width: 68%;
      height: 15px;
    }
  }

  &__article {
    @include flex($dir: column, $jc: center, $ai: center);
    @include between-desktop-tablet {
      z-index: 3;
      width: 100%;
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 48px;
    }
    @include desktop {
      z-index: 3;
    }
    h4 {
      font-weight: bold;
      color: $dark-navy;
      margin: 24px 0;
      font-size: 20px;
      @include between-desktop-tablet {
        margin-top: 0;
      }
    }
    p {
      color: $grey;
    }
  }

  &__icone {
    width: var(--figure-icone-size);
    border-radius: 50%;
    @include tablet {
      align-self: flex-start;
    }
  }
}
