.figure-icones {
  margin: 0 var(--main-margin);
  text-align: center;
  @include flex($dir: column, $jc: center, $ai: center, $gap: 48px);

  @include tablet {
    position: relative;
    text-align: left;
    gap: 40px;
    &::before {
      content: "";
      position: absolute;
      top: calc(-1 * var(--main-gap));
      left: 0;
      transform: translateX(calc(-50% + calc(var(--figure-icone-size) / 2)));
      width: 15px;
      height: calc(
        var(--main-gap) + calc(100% - calc(var(--figure-icone-size) / 2))
      );
      background: $light-grey;
      z-index: -1;
    }
  }

  @include desktop {
    @include flex($dir: row, $jc: flex-start, $ai: flex-start, $gap: 48px);
    margin: 0;
    padding: 0 var(--main-margin);
    &::before {
      top: 0;
      transform: translateY(calc(-50% + calc(var(--figure-icone-size) / 2)));
      width: 68%;
      height: 15px;
    }
  }

  &__article {
    @include flex($dir: column, $jc: center, $ai: center);
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      gap: 48px;
      width: 100%;
    }

    @include desktop {
      flex-direction: column;
      justify-content: center;
      gap: 0;
    }
    h4 {
      font-weight: bold;
      color: $dark-navy;
      margin: 24px 0;
      font-size: 20px;
      @include tablet {
        margin-top: 0;
      }
      @include desktop {
        margin: 24px 0;
      }
    }
    p {
      color: $grey;
      max-width: 650px;
    }
  }

  &__icone {
    width: var(--figure-icone-size);
    border-radius: 50%;
    @include tablet {
      align-self: flex-start;
    }
  }
}
