.figure-icones{
  margin: 120px 6vw;
  text-align: center;
  @include flex($dir: column, $jc:center, $ai:center, $gap: 50px);
  @include between-desktop-tablet{
    text-align: left;
    padding: 10vh 6vw;
    position: relative;
      &::before{
        content:"";
        width: 0px;
        height: 72%;
        top: 0;
        position: absolute;
        left: 6vw;
        transform: translateX(39px);
        border: 10px solid $light-grey;
        z-index: 1;
      }
    }
    @include desktop{
      @include flex($dir: row, $jc:flex-start, $ai:flex-start, $gap: 50px);
      text-align: left;
      padding: 10vh 6vw;
      position: relative;
      &::before{
        content:"";
        width: 68%;
        height: 0px;
        top:12.5vh;
        left:0;
        position: absolute;
        border: 10px solid $light-grey;
    }
  }
  article{
    @include flex($dir: column, $jc:center, $ai:center);
    @include between-desktop-tablet{
      z-index: 3;
      width: 100%;
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 50px;
    }
    @include desktop{
      z-index: 3;
    }
    h4{
      font-weight: bold;
      color: $dark-navy;
      margin:20px 0;
      font-size: 20px;
      @include between-desktop-tablet{
        margin-top:0;
      }
    }
    div:first-child{
      @include flex($jc:center, $ai:center);
      background-color: $yellow;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      @include between-desktop-tablet{
        justify-self: center;
        align-self: flex-start;
      }
      @include desktop{
        align-self: flex-start;
      }
    }
    p{
      color:$grey;
    }
  }
}