.footer-download-app{
  @include flex($dir: column, $jc:center, $ai:center);
  background-color: $dark-navy;
  padding: 10vh 6vw;
  position: relative;
  overflow: hidden;
  .footer-download-app__circle{
    content:"";
    position: absolute;
    width: 347px;
    height: 347px;
    border-radius: 50%;
    border: 15px solid $light-grey;
    opacity: 0.1;
    z-index: 1;
    top: 50%;
  }
  .circle-one{
    right: 600.5px;
  }
  .circle-two{
    right: 213.5px;
  }
  .circle-three{
    right: -173.5px;
    background-color: $light-grey;
  }
  h3{
    color: $white;
    margin-bottom: 5vh;
    text-align: center;
    z-index: 2;
  }
  .footer-download-app__links{
    @include flex($jc:center, $ai:center, $gap: 15px);
    flex-wrap: wrap;
    font-family: "Space Mono";
    z-index: 2;
    a{
      background-color: $light-grey;
      border-radius: 4px;
      padding: 0.5vh 1vh;
      @include flex($jc:center, $ai:center, $gap: 10px);
      div{
        color: $dark-navy;
        p:first-child{
          font-size: 10px;
          height: 15px;
        }
        p:nth-child(2){
          font-weight: bold;
        }
      }
    }
  }
}

.footer-links{
  display: grid;
  grid-template: auto auto auto / 100%;
  gap:30px;
  justify-content: center;
  align-items: center;
  background-color: #333A44;
  padding: 4vh 6vw;
  text-align: center;
  @include tablet{
    grid-template: 100% / auto 1fr auto;
    gap:60px;
  }
  ul:first-child{
    @include flex($dir: column, $ai:center, $gap:10px);
    flex-wrap: wrap;
    @include tablet{
      flex-direction: row;
      gap:32px;
    }
    li{
      margin-top: 2vh;
      @include tablet{
        margin-top: 0;
      }
    }
    a{
      color: $grey;
      font-family: "Space Mono";
      font-weight: bold;
      &:hover{
        color: $yellow;
        transition: 0.3s;
      }
    }
  }
  ul:nth-child(3){
    margin-top: 3vh;
    @include flex($ai:center, $jc:center);
    gap: 10px;
    @include tablet{
      margin-top: 0;
      gap: 24px;
      justify-content:flex-end;
    }
    li{
      margin: 0 2vw;
      @include tablet{
        margin: 0;
      }
      a:hover{
        filter: brightness(13);
        transition: 0.3s;
      }
    }  
  }
}