.map{
  padding: 0 var(--main-margin);
  width: 100%;
  .map__img{
    width: 100%;
    height: auto;
  }
  .map-desktop{
    display: none;
  }
  @include tablet{
    .map-desktop{
      display: block;
    }
    .map-phone{
      display: none;
    }
  }

  .map__list {
    @include flex($dir: column, $jc: center, $ai: center,$gap:16px);
    margin-top: 40px;
    @include tablet{
      display: none;
    }
    li{
      background: rgba(252, 183, 43, 0.15);
      color: $dark-navy;
      width: 100%;
      @include flex($dir: column, $jc: center, $ai: center);
      padding: 20px 0;
      font-size: 24px;
    }
  }
}

.not-listed{
  padding: 0 var(--main-margin);
  text-align: center;
  @include flex($dir: column, $jc: center, $ai: center, $gap:32px);
  p{
    color: $grey;
    @include desktop{
      width: 70%;
    }
  }
  h2{
    @include desktop{
      width: 40%;
    }
  }
  @include desktop{
    flex-direction:row;
    justify-content: space-between;
    text-align: left;
  }
}