.section-simpletopcontainer{
  height: 160px;
  padding: 0 6vw;
  @include flex($ai:center, $jc:center);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  h1{
    color: $white;
  }
}
.careers-location-background{
  background-image: linear-gradient(0deg, rgba(47,59,89,0.7) 0%, rgba(47,59,89,0.7) 100%), url('../../assets/image/career_bg.jpg');
}
.about-background{
  background-image: linear-gradient(0deg, rgba(47,59,89,0.7) 0%, rgba(47,59,89,0.7) 100%), url('../../assets/image/about_bg.jpg');
}

@media screen and (min-width: 768px){
  .section-simpletopcontainer{
    justify-content: flex-start;
    .section-simpletopcontainer__circle{
      content:"";
        position: absolute;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        border: 3px solid $white;
        z-index: 1;
        bottom: 3vh;
    }
    .topcontainer-circle-one{
      right: 133.5px;
    }
    .topcontainer-circle-two{
      right: 51.5px;
    }
    .topcontainer-circle-three{
      right: -31.5px;
      background-color: $white;
    }
  }
}