.values {
  position: relative;
  @include flex($dir: column, $jc: center, $ai: center, $gap: 64px);
  margin: 0 var(--main-margin);

  @include tablet {
    gap: 100px;
  }

  &__items {
    @include flex($dir: column, $jc: center, $ai: center, $gap: 56px);

    @include desktop {
      flex-direction: row;
      gap: 30px;
      align-items: flex-start;
    }
  }

  &__value {
    position: relative;
    @include flex($dir: column, $jc: center, $ai: center);
    text-align: center;
  }

  &__bubble {
    position: inherit;
    display: flex;
    justify-content: center;
    margin-bottom: 64px;

    img:first-child {
      position: relative;
      border-radius: 50%;
      z-index: 3;
    }
    img:nth-child(2) {
      position: absolute;
      top: 75%;
      z-index: 4;
    }

    @include desktop {
      img:first-child {
        position: relative;
        border-radius: 50%;
        z-index: 3;
      }
      img:nth-child(2) {
        position: absolute;
        top: 75%;
        z-index: 4;
      }
    }
  }

  &__content {
    @include flex($dir: column, $jc: center, $ai: center, $gap: 24px);
    max-width: 350px;
    h2 {
      font-size: 32px;
      line-height: 32px;
    }
    p {
      color: $grey;
    }
  }
}
