.values{
    position: relative;
    @include desktop{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,0.5fr);
        h2{
            grid-column: 1/4;
        }
    }
    h2{
        @include flex($dir:column, $jc: center, $ai: center, $gap:30px);
    }
    &__value{
        position: relative;
        padding: 5vh 6vw;
        @include flex($dir: column, $jc:center, $ai:center);
        text-align: center;

        .values__bubble{
            position: inherit;
            display: flex;
            justify-content: center;
            margin-bottom: 15%;

            img:first-child{
                position: relative;
                border-radius: 50%;
                z-index: 3;
            }
            img:nth-child(2){
                position: absolute;
                top:75%;
                z-index: 4;
            }

            @include desktop{
                margin-bottom: 20%;

                img:first-child{
                    position: relative;
                    border-radius: 50%;
                    z-index: 3;
                }
                img:nth-child(2){
                    position: absolute;
                    top:75%;
                    z-index: 4;
                }
            }
            @include between-desktop-tablet{
                margin-bottom: 8%;


            }


        }



        .values__content{
            @include flex($dir:column, $jc: center, $ai: center, $gap:30px);
            h2{
                font-size: 32px;
                line-height: 32px;

            }
            p{
                color:$grey;
            }
        }
    }
}