@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin flex($dir: row, $jc: flex-start, $ai: flex-start, $gap: 0px) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
}

@mixin font($ff: Space Mono, $fw: bold, $fs: 24px, $co: $grey, $ln: 28px, $ls: -1.07143px) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  color: $co;
  line-height: $ln;
  letter-spacing: $ls;
  
}