* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lexend Deca";
  font-weight: normal;
  @extend %normal-font;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono";
  color: $dark-navy;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.78571px;
  @include tablet {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
  }
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.42857px;
  @include tablet {
    font-size: 48px;
    letter-spacing: -2.14286px;
  }
}

h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
}

h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.8px;

  @include tablet {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
  }
}

main {
  overflow: hidden;
  @include flex(column, center, center, 120px);
  margin-top: $header-height;
}
